nav {
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}

body {
    margin: 0px;
    background-image: url(../img/pattern.jpg);
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

main {
    margin: 70px 150px 20px;
    padding: 20px;
    background-color: white;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

article {
    margin-top: 10px;
    border-bottom: 2px solid black;
}

footer {
    background-color: black;
    padding: 1px;
}

h5 {
    text-align: center;
    color: white;
}